h1{
	color: skyblue;
	text-align:center;
}

.classone{
text-align: center;
}

.classtwo{
	width: 500px;
}
p{
	color: forestgreen;

}
p{
	text-align:center ;
}
.classzero {
	width: 400px;
}
.classuno {
	width: 400px;
}
.classthree {
	width: 400px;
}
.classfour{
	width: 400px;
}